.MovieDetailsMain {
    background-color: #e6cece;
}

.Btn {
    font-size: 25px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 2px 4px 1px rgba(34, 60, 80, 0.37);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

.Btn:hover,
.Btn:focus {
    background-color: #0028f2;
    color: white;
}

.Detals {
    box-shadow: -1px 12px 12px -9px rgba(34, 60, 80, 0.2);
}

.Img {
    width: 300px;
    height: 430px;
}

.Info {
    display: flex;
}

.DetalsItem {
    list-style: none;
}

.Genres {
    padding-left: 0;
    display: flex;
    gap: 8px;
}

.Films {
    padding: 0;
    list-style: none;
}

.Inform {
    font-size: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.InformList {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.InformItem {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 20px;
    
}

.InformItem:hover {
    color: rgb(4, 0, 255);
}